/* СЛАЙДЕР НА ГЛАВНОЙ */
/*сетка слайдера*/
.slider-section {}
.slider-section-inner {}


/*стили слайда*/
.slider-list {
	height: 590px;
}

.slider-item {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	height: 100%;
	width: 100%;

	opacity: 0;
	transition: opacity 1s linear;
}
.slider-item-img {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, 0);
}
.slider-item-title {
	position: absolute;
	top: 340px;
	left: 50%;
	z-index: 2;

	display: block;
	width: 700px;

	margin-left: -350px;

	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-align: center;
	color: #fff;
}
.slider-item-link {
	position: absolute;
	top: 550px;
	left: 50%;
	z-index: 3;

	transform: translate(-50%, 0);

	width: 280px;

	font-size: 32px;
	line-height: 44px;
	font-weight: 700px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-item.active { opacity: 1; }


/*стили переключателей*/
.slider-controls {
	position: absolute;
	bottom: 0;
	z-index: 4;
}
.slider-controls-dots {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin-right: 4px;

	border: 2px #ffffff solid;
	border-radius: 50%;

	font-size: 0;

	cursor: pointer;
}
.slider-controls-dots.active {
	background-color: #fff;
}
