/* типовая кнопка */
.button {
	display: inline-block;
	padding: 8px 22px 9px;
	vertical-align: top;

	background: #ec583c -webkit-linear-gradient(bottom, #e74a35, #f26843);
	background: #ec583c linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 50px;
	border: none;

	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;

	outline: none;
	cursor: pointer;
}

.button:hover {
	color: #ffffff;
	background: #ec583c -webkit-linear-gradient(top, #f58669, #ec6f5e);
	background: #ec583c linear-gradient(to bottom, #f58669, #ec6f5e);
	border: none;
}

.button:active {
	background: #ec583c -webkit-linear-gradient(top, #f26843, #e74a35);
	background: #ec583c linear-gradient(to bottom, #f26843, #e74a35);
	box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
	border: none;
}
