.section {
	display: block;
	width: 100%;
	min-width: 940px;

	position: relative;
}
.section-inner {
	width: 940px;

	margin: 0 auto;
	position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.section-inner:before,
.section-inner:after { content: " "; display: table; }
.section-inner:after { clear: both; }